body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.App {
  margin: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

.App td, .App th {
  border: 1px solid black;
  padding: 10px;
  max-width: 200px;
}

td.noteditable input {
  border: 1px solid white;
}

td.editable input {
  background-color: lightyellow;
  border: 1px solid lightgray;
}
